<% class_name = options.delete :class_name %>
<% attribute = options.delete :attribute %>
<% identifier = options.delete :identifier %>
<% values = options.delete(:values) || [0, 1] %>
<% name = class_name ? "#{class_name.to_s.downcase}[#{attribute}]" : "#{attribute}" %>
<% id = [class_name, identifier, attribute].map { |s| s.to_s.downcase }.join('_') %>
<% wrapper_html = {
    class: ['myg-checkbox mdc-checkbox', options.dig(:wrapper_html, :class), ('mdc-checkbox--disabled' if options.dig(:input_html, :disabled))].join(' ')
} %>
<% input_html = {
    type: 'checkbox',
    class: ['mdc-checkbox__native-control', options.dig(:input_html, :class)].join(' '),
    name: name,
    id: id,
    value: values.last
} %>

<%= content_tag 'div', (options[:wrapper_html] || {}).merge(wrapper_html) do %>
    <input value="<%= values.first %>" type="hidden" name="<%= name %>" />
    <%= tag 'input', (options[:input_html] || {}).merge(input_html) %>
    <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
    </div>
<% end %>
